*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

.container{
    position: relative;
    height: 100vh;
    padding: 0 8%;
    width: 100%;
    background: linear-gradient( rgba(0,0,0,0.4),transparent),url(./tophy/IMG_1615.JPG) center no-repeat;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
nav .logo{
    width: 120px;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: oblique;
    text-decoration: none;
    color: #94f7e6;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    text-align: right;
    list-style-type: none;

}
nav ul li {
    margin-inline-start: 10px;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: #94f7e6;
    font-size: 16px;
}
button.btn{
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    background-color: transparent;
    color: #94f7e6;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: border-color 0.3s;
}
button.btn:hover{
    border-color: #94f7e6;
}




section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.form-wrapper .card{
    width: 360px;
    padding: 20px;
    background-color: rgb(0 0 0 /35%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}
/* sortis du formulaire lorsqu'on clique sur le menu se connecter*/
.card.montrer{
    visibility: visible;
    opacity: 1;
}

.card-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 0;
    font-size: 1.1rem;
    color: #94f7e6;
    box-shadow: 2px 3px 8px #b3f7ff71 ;
    border-radius: 50px;
}
 .card-header .formheader{
        flex: 50%;
        text-align: center;
        padding: 10px 0;
        border: 1px solid transparent;
        border-radius: 50px;
        user-select: none;
        cursor: pointer;
 }

 .card-header .active{
    border-color: #94f7e6;
    transition: border-color 0.3s;
 }

 

 .card-body{
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
 }
 form{
    flex: 0 0 100%;

 }
 .toggleform {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
 }
 .form-control{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(134 255 249 /65%);
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    color:#fff;
 }
 .form-control::placeholder{
    color: rgb(134 255 249 /65%);
 }

 .formButton{
    border: 1px solid transparent;
    padding: 1rem 3rem;
    background-color: #94f7e6;
    border-radius: 50px;
    margin-top: 1rem;
    font-size: 1rem;
    transition: transform 0.3s, box-shadow 0.3s ;
 }
 .formButton:hover{
    box-shadow: 3px 5px 75px #94f7e6;
    transform: translateY(-5px)
 };


